body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: pink;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #3498DB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
    font-family: 'Croissant One', cursive;
}

.cell:hover {
    background-color:lightgray;
}

.message {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-restart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 40px;
}

.btn-restart:hover {
    background-color: #0056b3;
}

